.hire-contact {
    padding: 3%;
    background: darkcyan;
    color: #fff;
  }
  
  .hire-contact-header {
        font-size: 20px;
        font-weight: bold;
        padding : 1%;
        color: currentColor;
  }
  
  .hire-content {
      padding-top : 3%;
      padding-bottom : 3%;
  }